# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Production build
build/
dist/

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
